@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
body{
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
p{
    padding: 10px 0;
}

.gray{
    background-color: #F8F8F8;
}

.container{
    width: 1188px;
    margin: 0 auto;
}

.content{
    max-width: 1188px;
    margin: 0 auto;
    padding: 40px 10px;
}

.content h3{
    text-align: center;
    color: #444444;
    font-size: 32px;
    padding: 30px 10px 50px 10px;
}
.page-title{
    font-size: 64px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    width: 100%;
    display: block;
    background-color: #FFF000;
    padding: 22px 0;
}
