@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
body{
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
p{
    padding: 10px 0;
}

.gray{
    background-color: #F8F8F8;
}

.container{
    max-width: 1188px;
    margin: 0 auto;
}

.content{
    max-width: 1188px;
    margin: 0 auto;
    padding: 40px 10px;
}

.content h3{
    text-align: center;
    color: #444444;
    font-size: 32px;
    padding: 30px 10px 50px 10px;
}
.page-title{
    font-size: 64px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    width: 100%;
    display: block;
    background-color: #FFF000;
    padding: 22px 0;
}

.products-grid {
    max-width: 1348px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.catalog-nav h3{
    color:#333333;
    font-size: 24px;
}
.catalog-nav{
    max-width: 1348px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:0 auto;
    padding: 60px 10px 20px 10px;
    align-items: center;
}
ul.right{
    display: flex;
    gap:30px;
    color:#666666;
    font-size: 13px;
}

ul.right a{
    position: relative;
    padding-bottom: 5px;
}

ul.right li:last-child a {
    font-size: 10px;
    color:#999999;
    margin-left:30px;
}

.line {
    position: absolute;
    height: 2px;
    background: #ffd800; /* Karcher yellow */
    width: 0%;
    transition: width 0.35s ease;}

.line.bottom {
    bottom: 0;
    left: 0;                 /* анимация слева → направо */
    transform-origin: left;
}
a:hover .line {
    width: 100%;
}

.ProseMirror{
    overflow: scroll;
}
.rich-text-content-wrapper { /* Replace with your actual container class */
    overflow-x: auto;
}
@media (max-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog-nav{
        flex-direction: column;
        align-items: flex-start;
    }

    ul.right{
        flex-direction: column;
        align-items: flex-start;
    }
}
