@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.gray{
    background-color: #F8F8F8;
}
